{% extends 'base.html' %}

{% block content %}
    <h2>Sobre Nosotros</h2>
    <div class="columns">
        <div class="column">
            <p>El Real Oviedo fue fundado en 1926 y ha tenido una historia llena de éxitos y desafíos...</p>
        </div>
        <div class="column">
            <p>El club ha jugado en varias divisiones del fútbol español, destacándose por su espíritu y dedicación...</p>
        </div>
        <div class="column">
            <p>El equipo ha sido un símbolo de orgullo para la ciudad y sus aficionados...</p>
        </div>
    </div>
    <div class="additional-info">
        <p>El Real Oviedo continúa siendo una fuerza importante en el fútbol español...</p>
    </div>
{% endblock content %}