{% extends 'base.html' %}

{% block content %}
    <h2>Historia</h2>
    <div class="columns">
        <div class="column">
            <p>Real Oviedo es un club de fútbol español con una rica historia y tradición...</p>
        </div>
        <div class="column">
            <p>Fundado en 1926, el club ha tenido numerosos éxitos y desafíos a lo largo de los años...</p>
        </div>
        <div class="column">
            <p>El equipo ha jugado en varias divisiones del fútbol español, destacándose por su espíritu y dedicación...</p>
        </div>
    </div>
    <div class="additional-info">
        <p>El Real Oviedo ha sido un símbolo de orgullo para la ciudad y sus aficionados...</p>
    </div>
{% endblock content %}